{% extends 'base.html.twig' %}

{% block title %}Liens index{% endblock %}

{% block body %}
<h1>Liens index</h1>

<div class="liens-grid">
    {% for lien in liens %}
        <div class="lien-card">
            <h2 class="lien-title">{{ lien.lienTitre }}</h2>
            <p class="lien-desc">{{ lien.lienDesc }}</p>
            <a href="{{ lien.lienUrl }}" target="_blank" class="lien-link">Visiter le lien</a>
        </div>
    {% else %}
        <p>Aucun lien disponible.</p>
    {% endfor %}
</div>

<br><br>


{% endblock %}
