{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau lien{% endblock %}

{% block body %}
<h1>Créer un nouveau lien</h1>

<div class="new-container">
    {{ include('liens/_form.html.twig', {'button_label': 'Créer'}) }}

    <div class="new-buttons">
        <a href="{{ path('app_liens_index') }}" class="new-btn">Retour à la liste</a>
    </div>
</div>
{% endblock %}
