{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau utilisateur</h1>

<div class="new-container">
    {{ include('user/_form.html.twig') }}

    <div class="new-buttons">
        <a href="{{ path('app_user_index') }}" class="new-btn" >Retour à la liste</a>
    </div>
{% endblock %}
